<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Возрастная верификация</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
    <div class="form-container">
        <img src="18plus.png" alt="18+" class="logo">
        <h1>Укажите ваш возраст</h1>
        <form action="/verify" method="post">
            <input type="date" name="birthDate" required>
            <button type="submit">Confirm</button>
        </form>
        <div class="error-message" th:if="${error}">
            <p th:text="${error}"></p>
        </div>
    </div>
</div>
</body>
</html>
